<template>
  <div class="content">
    <div class="mask">
      <div class="album-cover" :style="{'background-image':'url(' + audio.albumPic + '?param=500y500' + ')'}"></div>
      <div class="cover-mask" style="opacity:0.6;"></div>
    </div>
    <div class="player-wrapper">
      <div class="player-inner">
        <mu-appbar>
          <mu-icon-button icon='arrow_back' @click="back" slot="left"/>
            <div class="play-title">
              <div class="play-name"><span>{{audio.name}}</span></div>
              <div class="play-singer"> {{audio.singer}} </div>
            </div>
          <mu-icon-button icon='share' slot="right"/>
        </mu-appbar>
        <div class="bar-line"></div>
        <mu-flexbox orient="vertical" justify="center" class="main">
          <mu-flexbox-item order="0">
            <div class="cd-holder" :class="{'cd-play': playing}">
              <div class="stick"></div>
              <div class="cd-wrapper" :class="{'cd-rotate': playing}">
                <div class="cd-mask"></div>
                <img class="cd-img" :src="audio.albumPic + '?param=500y500'"/>
              </div>
            </div>
          </mu-flexbox-item>
          <mu-flexbox-item order="1" class="bottom-wrapper">
            <div class="lyric-holder">
              <div class="lrc-inner" style="transition: -webkit-transform 0.3s ease-out; transform-origin: 0px 0px 0px;" :style="{'transform':' translate3d(0px,'+ lrcOffset +'px, 0px)'}">
                <p v-for="(item,index) in afterLrc" :id="'line-'+index" :key="index">{{item.txt}}</p>
              </div>
            </div>
            <div class="process-bar">
              <div class="pro">
                <div class="pro-wrap">
                  <mu-slider class="pro-slider" v-model="prCurrentTime" @change="changeTime" />
                  <div class="time">
                    <time id="cur">{{currentTime | time}}</time>
                    <time id="total">{{durationTime | time}}</time>
                 </div>
                </div>
              </div>
            </div>
          </mu-flexbox-item>
          <mu-flexbox-item order="2">
            <div class="control-bar ">
              <mu-icon-button class="btn d-mode"/>
              <mu-icon-button class="btn d-prev" @click="playPrev"/>
              <mu-icon-button class="btn d-play btn-big" @click="togglePlay" :class="{'d-pause': playing}"/>
              <mu-icon-button class="btn d-next" @click="playNext"/>
              <mu-icon-button class="btn d-list" @click="showList"/>
            </div>
          </mu-flexbox-item>
        </mu-flexbox>
      </div>
    </div>
    <BottomSheet ref="bottomList"></BottomSheet>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import BottomSheet from '../components/list'
import api from 'api'

export default {
  name: 'playerDetail',
  data () {
    return {
      lyric: '',
      afterLrc: [],
      lrcIndex: 0
    }
  },
  beforeRouteEnter: (to, from, next) => {
    // 这里判断是否重复打开的同一个歌曲页面
    next(vm => {
      vm.loadLrc(vm.audio.id)
    })
  },
  watch: {
    audio (val) {
      this.loadLrc(val.id)
    }
  },
  methods:{
    ...mapMutations([
      'playNext',
      'playPrev'
    ]),
    back () {
      this.$router.go(-1)
      this.$store.commit('toggleDetail')
    },
    togglePlay () {
      if (this.playing) {
        this.$store.commit('pause')
        document.getElementById('audioPlay').pause()
      } else {
        this.$store.commit('play')
        document.getElementById('audioPlay').play()
      }
    },
    changeTime (value) {// 改变播放时间事件
      var time = (value * this.durationTime) / 100
      this.$store.commit('changeTime', time)
      this.$store.commit('setChange', true)
    },
    showList () {
      this.$refs.bottomList.show()
    },
    loadLrc (id) {
      var self = this
      this.afterLrc = [{'txt': '正在加载中...'}]
      if (!id) {
        this.afterLrc = [{'txt': '这里显示歌词哦！'}]
        return
      }
      api.getLyric(id).then(res => {
        // 1、先判断是否有歌词
        if (res.data.nolyric) {
          this.afterLrc = [{'txt': '暂无歌词'}]
        } else {
          this.lyric = res.data.lrc.lyric
          this.getLrc()
        }
      }, res => {
        console.log('lrc fail')
        this.afterLrc = [{'txt': '加载歌词失败'}]
      })
      .catch(function (error) {
        console.log(error)
        self.afterLrc = [{'txt': '暂无歌词'}]
      })
    },
    getLrc () {
      if (this.lyric) {
        var lyrics = this.lyric.split('\n')
        var lrcObj = []
        /*eslint-disable */
        var timeReg = /\[\d*:\d*((\.|\:)\d*)*\]/g
        /*eslint-enable */
        // 思路：1、把歌词进行处理以时间和歌词组成一个对象，放入afterLrc数组中
        // 2、在computed方法中根据当前的时间进行匹配歌词，然后查找在数据中的位置计算offset值
        for (var i = 0; i < lyrics.length; i++) {
          var timeRegExpArr = lyrics[i].match(timeReg)
          if (!timeRegExpArr) continue
          var txt = lyrics[i].replace(timeReg, '')
          // 处理时间
          for (var k = 0; k < timeRegExpArr.length; k++) {
            var array = {}
            var t = timeRegExpArr[k]
            /*eslint-disable */
            var min = Number(String(t.match(/\[\d*/i)).slice(1))
            var sec = Number(String(t.match(/\:\d*/i)).slice(1))
            /*eslint-enable */
            var time = min * 60 + sec
            array.time = time
            array.txt = txt
            lrcObj.push(array)
          }
        }
        this.afterLrc = lrcObj
      }
    },
  },
  computed: {
    ...mapGetters([
      'currentTime',
      'bufferedTime',
      'durationTime',
      'prCurrentTime',
      'audio',
      'playing'
    ]),
    lrcOffset () {
      if (this.afterLrc) {
        // 1、根据时间获得歌词
        var current = Math.round(this.currentTime)
        // 2、根据时间得到歌词
        for (var i = 0; i < this.afterLrc.length; i++) {
          if (this.afterLrc[i].time === current) this.lrcIndex = i
        }
        return -(this.lrcIndex) * 58
      }
    }
  },
  components:{
    BottomSheet
  },
  filters: {
    // 时间字符格式化
    time (value) {
      var length = Math.floor(parseInt(value))
      var minute = Math.floor(value / 60)
      if (minute < 10) {
        minute = '0' + minute
      }
      var second = length % 60
      if (second < 10) {
        second = '0' + second
      }
      return minute + ':' + second
    }
  }
}
</script>

<style lang="less" scoped>
  // .content {
  //   overflow: hidden;
  //   height: 100%;
  // }
// 修改默认的bar样式
  .mu-appbar {
    background-color: transparent;
  }
  .mu-paper-1 {
    box-shadow: none;
    > .mu-appbar-title {
      text-align: center;
      font-size: 14px;
    }
  }
  .bar-line {
    display: block;
    bottom: 0 ;
    left: 0;
    display: block;
    width: 100%;
    height: 0.05rem;
    background: radial-gradient(#d3d3d3 -90%, transparent 70%);
  }
  //背景遮罩
  .mask {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    // left: 0;
    // top: 0;
    z-index: 1;
  }
  .album-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(1.2rem);
    -webkit-filter: blur(1.2rem);
    -webkit-transform: scale(1.05);
  }
  .cover-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
  }
  
  .player-wrapper {
    .player-inner {
      position: relative;
      z-index: 2;
      box-sizing: border-box;
    }
    .play-title {
      height: 55px;
      font-size: 14px;
      color: #fff;
      .play-name {
        padding-top: 15px;
        line-height: 1.4;
      }
      .play-singer {
        font-size: 12px;
        color: #a8a7a7;
        text-align: left;
        line-height: 1;
      }
    }
  }

// cd部分样式
  .cd-holder {
    position: relative;
    overflow: hidden;
    .stick {
      position: absolute;
      right: 30%;
      width: 4rem;
      height: 6rem;
      background: url("../../static/stick_bg.png") no-repeat left -.4rem;
      background-size: cover;
      z-index: 8;
      transition: all 300ms ease-in;
      transform-origin: left top;
      transform: rotate(-20deg);
    }
    .cd-wrapper {
      position: relative;
      max-width: 65%;
      min-height: 80px;
      padding: .8rem .9rem;
      border-radius: 50%;
      background: rgba(107, 107, 107, 0.3);
      margin: 3rem auto 0;
      .cd-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url('../../static/cd_wrapper.png') no-repeat center center;
        background-size: cover;
      }
      img {
        width: 100%;
        height: 100%;
        min-height: 80px;
        border-radius: 50%;
      }
    }
  }

// cd播放状态样式
  .cd-play {
    .stick {
      background-position-y: -.7rem;
      transform: rotate(0deg);
    }
  }
  .cd-rotate {
    animation: rotating 10s linear .3s infinite;
  }

  .cd-img {
    border-radius: 50%;
  }

  .bottom-wrapper {
    padding: 0 1rem 0;
    // color: #fff;
    // align-items: flex-end;
  }
// 控制按钮
  .control-bar {
    text-align: center;
    padding: .6rem 0;
    .btn {
      width: 58px;
      height: 58px;
    }
    .d-mode {
      background: url("../../static/seq.png") no-repeat;
      background-size: cover;
    }
    .d-prev {
      background: url("../../static/prev.png") no-repeat;
      background-size: cover;
    }
    .d-play {
      background: url("../../static/play.png") no-repeat;
      background-size: cover;
    }
    .d-pause {
      background: url("../../static/pause.png") no-repeat;
      background-size: cover;
    }
    .d-next {
      background: url("../../static/next.png") no-repeat;
      background-size: cover;
    }
    .d-list {
      background: url("../../static/list.png") no-repeat;
      background-size: cover;
    }
  }

// 歌词
  .lyric-holder {
    margin-top: .6rem;
    position: relative;
    overflow: hidden;
    height: 3rem;
    .lrc-inner {
      position: absolute;
      left: 10px;
      right: 10px;
      overflow: hidden;
      p {
        overflow: hidden;
        height: 42px;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 16px;
        color: #fff;
        text-align: center;
      }
      .on {
        color: #fff;
        font-size: 16px;
      }
    }
  }
//进度条
  .process-bar {
    .pro {
      .pro-wrap {
        position: relative;
        height: 10px;
        margin: 0 2rem;
        // padding: 1rem 0 0;
        .pro-slider {
          position: absolute;
          left: 0px
        }
        .time {
          color: #fff;
          font-size: 12px;
          opacity: .5;
          time {
            position: absolute;
            top:3px;
            }
          #cur {
            left: -36px;
          }
          #total {
            right: -35px;
          }
        }
      }
    }
  }
  .song-slider {
      margin-bottom:0;
    }
  
 
</style>