<template>
    <div>
    	<div class="loading-wrapper" v-show="isloading" >
          <div class="loading"></div>
          <div class="loading-txt">正在加载中</div>
      </div>
    	<div class="container" v-show="!isloading">
        <div id="slider">
	        <swiper :options="swiperOption">
          <swiper-slide v-for="banner in banners" :key="banner.targetId"><img :src="banner.pic" class="banner-item"  alt=""></swiper-slide>
	          <div class="swiper-pagination" slot="pagination"></div>
	        </swiper>
      	</div>
				<div class="wrapper">
					<div class="wrapper-title">
						<span class="g-title song-list">推荐歌单
							<router-link :to="{path: '/songList'}">更多></router-link>
						</span>
					</div>
					<mu-flexbox wrap="wrap" class="box" :gutter="0">
						<mu-flexbox-item basis="28%" class="item" :style="(index+1)%3==0?'marginRight:0':''" :key="item.id" v-for="(item,index) in playList">
							<router-link :to="{name: 'playListDetail',params: { id: item.id, name: item.name, coverImg: item.coverImgUrl, creator: item.creator, count: item.playCount, desc: item.description }}">
			          <div class="bar">
                  <mu-icon class="barIcon" value="audiotrack" :size="15"/>
                  <span class="barSpan">{{item.playCount | formatCount}}</span>
                </div>
			          <img class="item-img" v-lazy="item.coverImgUrl + '?param=230y230'" lazy="loading">
			          <div class="item-name">{{item.name}}</div>
		          </router-link>
						</mu-flexbox-item>
					</mu-flexbox>
					<div class="wrapper-title">
						<span class="g-title mv">推荐MV
							<router-link :to="{}">更多></router-link>
						</span>
					</div>
					<mu-flexbox wrap="wrap" class="box" :gutter="0">
            <mu-flexbox-item basis="45%" class="mv-item" :style="(index+1)%2==0?'marginRight:0':''" v-for="(mv,index) in mvList" :key="mv.id">
              <img class="img-response" :src="mv.picUrl">
              <div class="mv-name">{{mv.name}}</div>
              <div class="mv-author">{{mv.artistName}}</div>
            </mu-flexbox-item>
          </mu-flexbox>
				</div>
    </div>
    </div>
</template>

<script>
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import api from 'api'
export default{
	data(){
		return{
			swiperOption:{
        autoplay: 2500,
        pagination:'.swiper-pagination',
        paginationClickable:true
      },
      isloading:true,
      playList: [],
      mvList: [],
      banners:[]
		}
	},
	components:{
		swiper,
    swiperSlide
	},
	created () {
    this.get()
    api.getBanner().then(res => {
      this.banners = res.data.banners
    })
    api.getMvList().then(res => {
      this.mvList = res.data.result
    })
  },
	methods: {
    get() {
      api.getPlayList(6).then(res => {
        this.isloading = false
        this.playList = res.data.playlists
      })
    }
	},
	filters: {
    formatCount (v) {
      if (v < 100000) {
        return v
      } else {
        return (v / 10000).toFixed(0) + '万'
      }
    }
  }
}
</script>

<style lang="less" scoped>
  .loading {
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    width: 3rem;
    height: 3rem;
    margin-top: 70%;
    margin-left: -1.5rem;
    background: url('../../static/rage_loading.png') no-repeat;
    background-size: cover;
    -webkit-animation: rotating 5s  linear infinite;
    animation: rotating 5s linear infinite;
  }
  .loading-txt {
    position: absolute;
    top:0;
    color: #4a4a4a;
    margin-top: 90%;
    width: 100%;
    text-align:center;
  }
  @keyframes rotating {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
  }
  
  .wrapper {
    padding: 0 5px;
  }
  .wrapper-title{
  	text-align: left;
  	a {
      float: right;
      font-size: 14px;
      padding-right: 2px;
      color: red;
    }
  }
  // 通用的标题样式
  .g-title {
    padding-left: 25px;
    color: #333;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
  }
  // banner样式
  .banner-item {
    width: 100%;
    background: url('../../static/banner-item-load.png') no-repeat;
    background-size: cover;
  }

  // 推荐歌单
  .song-list {
    background: url("../../static/aei.png") no-repeat left center;
    background-size: 20px 20px;
  }

  .item {
    position: relative;
    margin: 0 5px 5px 10px;
    width: 100%;
    height: 100%;
    a {
      color: rgba(0, 0, 0, 0.87);
    }
    .bar {
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      width: 100%;
      height:22px;
      text-align: right;
      padding: 2px 5px;
      display: inline-block;
      background-color: rgba(0,0,0,.25);
      // background: radial-gradient(#d3d3d3 -90%, transparent 100%);
      .barIcon{
        margin-right: -6px;
        padding-top: 1px;
        display: inline-block;
        vertical-align: top;
      }
      .barSpan{
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
      }
    }

    &-img {
    	width: 100%;
    	height:100%;
      // min-width:5rem;
      // min-height: 5rem;
    }

    &-img[lazy=loading] {
      background: url('../../static/default_cover.png') no-repeat;
      background-size: cover;
    }

    &-name {
      // font-size: 12px;
      font-size: 0.52rem;
      height: 1.6rem;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .mv {
    background: url("../../static/aee.png") no-repeat left center;
    background-size: 20px 20px;
    &-name {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }
    &-item {
      position: relative;
      margin: 0 5px 5px 10px;
    }
    &-author {
      font-size: 12px;
      color: #666;
    }
  }
  .img-response{
    width: 100%;
  }
</style>