<template>
    <div class="wrapper playList">
      <div class="content">
        <div class="title">全部歌单 </div>
            <mu-flexbox wrap="wrap" justify="space-around" class="box" :gutter="0">
              <mu-flexbox-item basis="40%" class="list-item" :key="item.id" v-for="item in playList">
                <router-link :to="{name: 'playListDetail',params: { id: item.id, name: item.name, coverImg: item.coverImgUrl, creator: item.creator, count: item.playCount, desc: item.description }}">
                <div class="list-bar">
                  <mu-icon class="barIcon" value="audiotrack" :size="15"/>
                  <span>{{item.playCount | formatCount}}</span>
                </div>
                <img class="list-img" v-lazy="item.coverImgUrl + '?param=300y300'" lazy="loading">
                <div class="list-name">{{item.name}}</div>
                </router-link>
              </mu-flexbox-item>
            </mu-flexbox>
             <mu-infinite-scroll :scroller="scroller" :loading="loading" loadingText='加载中...' @load="loadMore"/>
        </div>
    </div>
</template>
<script>
import api from 'api'
export default {
  data () {
    return {
      playList: [],
      num:6,
      loading: false,
      scroller: null
    }
  },
  created () {
    this.get()
  },
  mounted () {
    this.scroller = this.$el
  },
  methods: {
    get () {
      this.loading = true
      api.getPlayList(this.num).then(res => {
        let total = res.data.total  //歌曲总数量
        let list
        if(this.num == 6){
          list = res.data.playlists.slice(0,this.num);
        }else {
          list = res.data.playlists.slice(this.num-7,-1);
        }
        for (let i = 0; i < list.length; i++) {
          this.playList.push(list[i])
        }
        this.num += 6
        if(this.num > total) {
          this.num = total
        }
        this.loading = false
      })
    },
    loadMore () {
      this.get()
    }
  },
  filters: {
    formatCount (v) {
      if (v < 100000) {
        return v
      } else {
        return (v / 10000).toFixed(0) + '万'
      }
    }
  }
}
</script>
<style lang="less" scoped>
@import "../assets/theme.less";
.wrapper {
    width: 100%;
    padding:0 10px;
    height: 28rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.title {
    margin: .2rem 0 .3rem 0;
    padding-left: .2rem;
    border-left: .15rem solid @primaryColor;
}
.list {
    &-bar {
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      width: 100%;
      text-align: right;
      padding: 2px 5px;
      background-color: rgba(0,0,0,.25);
      .barIcon{
        margin-right: -5px;
        padding-top: 1px;
        display: inline-block;
        vertical-align: top;
      }
    }
    &-item {
        position: relative;
        margin: 0 5px 5px 10px;
        a {
          color:rgba(0,0,0,.87);
        }
    }
    &-img {
      width: 100%;
      height: 100%;
    }
     &-img[lazy=loading] {
      background: url('../../static/default_cover.png') no-repeat;
      background-size: cover;
    }

        &-name {
        font-size: 0.5rem;
        height: 1.7rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}
</style>
