<template>
  <div class="foot">
    <div class="player-mini">
      <div class="mini-content">
        <audio id="audioPlay" :src="audio.location"  @timeupdate="updateTime" @canplay="canPlaySong" @ended="next"/>
        <div class="cover" @click="showDetail">
          <mu-circular-progress v-show="loading" :size="25"/>
          <img class="xmplogo" :src="audio.albumPic + '?param=100y100'" v-show="!loading" :alt="audio.name">
        </div>
        <div class="info">
          <div class="name xmpname">{{audio.name}}</div>  
          <div class="artist xmpartist">{{audio.singer}}</div>
        </div>
        <div class="control">
          <mu-icon-button class="mini-btn player-list" @click="showList"/>
          <mu-icon-button class="mini-btn player" :class="{pause: playing}" @click="toggleStatus"/>
          <mu-icon-button class="mini-btn next" @click="next"/>
        </div>
        <div class="pro">
          <div class="pro-load proload" :style="{'-webkit-transform':'translateX(' + prBufferedTime +'%)' }"></div>
          <div class="pro-play proplay" :style="{'-webkit-transform':'translateX(' + prCurrentTime +'%)' }"></div>
        </div>
      </div>
    </div>
    <BottomSheet ref="bottomSheet"></BottomSheet>
  </div>
</template>

<script>
  import { mapMutations, mapGetters } from 'vuex'
  import BottomSheet from '../components/list'
  export default {
    name: 'playerBar',
    data() {
      return {
        loadedTime: 0,
        playerTime: 0,
        showBar:true
      };
    },
    mounted(){
			document.addEventListener('touchstart',this.fixPlay(),false)
    },
    components: {
      BottomSheet
    },
    computed: {
      ...mapGetters([
        'audio', //映射this.audio为this.$store.getters.audio
        'playing',
        'loading',
        'currentTime',
        'change',
        'tmpCurrentTime',
        'prBufferedTime',
        'prCurrentTime'
      ])
    },
    methods: {
      ...mapMutations([
        'play', //映射this.play()为this.$store.commit('play')
        'pause',
        'playNext'
      ]),
      toggleStatus() {
        if (this.playing) {
          document.getElementById('audioPlay').pause()
          this.$store.commit('pause')
        } else {
          document.getElementById('audioPlay').play()
          this.$store.commit('play')
                document.getElementsByClassName('author')[0].innerHTML = document.getElementById('audioPlay').currentSrc

        }
      },
      canPlaySong() {
        this.$store.commit('closeLoading')
        this.$store.commit('play')
        // document.getElementById('audioPlay').play()
        this.fixPlay()
      },
      fixPlay(){
        document.getElementById('audioPlay').load()
        document.getElementById('audioPlay').play()
      },
      next() {
        this.toggleStatus()
        this.$store.commit('playNext')
      },
      showList() {
        this.$refs.bottomSheet.show()
      },
      //更新进度条
      updateTime() {
        var vm = this
        var myaudio = document.getElementById('audioPlay')
        var time = parseInt(myaudio.currentTime)//currentTime--以s为单位返回从开始播放到目前所花的时间
        myaudio.onsuspend = function() {
          var timeRange = myaudio.buffered//获取当前缓冲区大小,返回TimeRanges对象,TimeRanges 对象表示用户的音视频缓冲范围。
          //duration ---获取媒体文件的播放时长，以s为单位
          if (timeRange.length > 0 && myaudio.duration > 0) {
            //buffered.end(index) - 获得某个已缓冲范围的结束位置
            vm.$store.commit('updateBufferedTime', parseInt(myaudio.buffered.end(0)))
          }
        }
        vm.$store.commit('updateDurationTime',parseInt(myaudio.duration))
        if (this.change) {
          myaudio.currentTime = this.tmpCurrentTime
          this.$store.commit('setChange', false)
        }else {
          this.$store.commit('updateCurrentTime', time)
        }
      },
      // loadError () {
      // // 判断是第一次打开程序还是后来程序加载的路径有错根据src是否为空
      //   if (!document.getElementById('audioPlay').currentSrc) {
      //     console.log(document.getElementsByClassName('author')[0])
      //     console.log(document.getElementsByClassName('author')[0].innerHTML)
      //     console.log(this.audio)
      //     // document.getElementsByClassName('author')[0].innerHTML = '111'
      //     console.log('当前音频来源出错')
      //     if(document.getElementsByClassName('author')) {
      //         document.getElementsByClassName('author')[0].innerHTML = JSON.stringify(this.audio)
      //     }
      //   }
      // },
      showDetail() {
        this.$router.push({name:'playerDetail',params:{id:this.audio.id}})
        this.$store.commit('toggleDetail')
      }
    }
  };
</script>

<style lang="less" scoped>
  @import "../assets/theme.less";
  .foot{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
  }
  .mu-circular-progress{
    margin: 0.36rem;
  }
  .player-mini {
    width: 100%;
    height: 2.3rem;
    position: relative;
    background-color: rgba(255,255,255,.9);
    color: #333333;
  }
  .cover{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding-left: 0.2rem;
    padding-top: 0.2rem;
    float: left;
    img{
      width: 100%;
      height: 100%;
    }
  } 
  .info {
    width: 7rem;
    font-size: 13px;
    line-height: .8rem;
    display: block;
    float: left;
    padding-left: 0.2rem;
    padding-top: 0.4rem;
    .artist{
      font-size: 12px;
      color: #8a8a8a;
    }
  } 
  .mini-content .info .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .pro{
    width: 100%;
    height: .1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.5);  
  }
  .player-mini .mini-content .pro-play {
    background-color:  @primaryColor;
  }
  /*按钮*/
  .control {
    float: right;
  }
  .control .mini-btn {
    width: 2rem;
    height: 2rem;
  }
  /*按钮样式*/
  .player-list {
    background: url("../../static/playbar_btn_playlist.png") no-repeat;
    background-size: cover;
  }
  .player {
    background: url("../../static/playbar_btn_play.png") no-repeat;
    background-size: cover;
  }
  .pause {
    background: url("../../static/playbar_btn_pause.png") no-repeat;
    background-size: cover;
  }
  .next {
    background: url("../../static/playbar_btn_next.png") no-repeat;
    background-size: cover;
  }

  /*进度条*/
  .player-mini .mini-content .pro-load, .player-mini .mini-content .pro-play {
    width: 100%;
    height: .1rem;
    position: absolute;
    left: -100%;
  }
  .player-mini .mini-content .pro-load {
    background-color: rgba(220, 217, 217, 0.4);
  }
  .player-mini .mini-content .pro-play {
    background-color:  @primaryColor;
  }
</style>