<template>
  <div id="app">
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
    <player-bar v-show="showBottom && songList.length"></player-bar>
  </div>
</template>

<script>
  import playerBar from './components/playerBar'
  import { mapGetters } from 'vuex'
  export default {
    name: 'app',
    data(){
      return{
        showBottom:false
      }
    },
    watch: {
      '$route' (to, from) {
        const path = to.path
        var tmpPath = path.slice(0,13)
        if (tmpPath !== '/playerDetail') {
          this.showBottom = true;
        }else{
          this.showBottom = false;
        }
      }
    },
    components:{
    	playerBar
    },
    computed: {
  	  ...mapGetters([
  	    'songList',
        'showDetail'
  	  ]),
    }
  }

</script>